# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
disvenv/

# Environment Variables
.env
.env.*

# Uploads
Backend/uploads/
Backend/models/
Backend/gradcam/
# Logs
*.log


# ======================
# Node / React
# ======================
Frontend/ai-image-detector/node_modules/
Frontend/ai-image-detector/build/
Frontend/ai-image-detector/dist/

# npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

deepcheck-key.pem

dist/