# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual Environments
disvenv/

# Environment Variables
.env
.env.*

# Uploads
Backend/uploads/
Backend/models/
Backend/gradcam/

# ======================
# Node / React
# ======================
Frontend/ai-image-detector/node_modules/
Frontend/ai-image-detector/build/
Frontend/ai-image-detector/dist/

# npm

deepcheck-key.pem
dist/