--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.9.0+cpu
torchvision==0.24.0+cpu
transformers
pillow
numpy
opencv-python-headless
fastapi
uvicorn
python-multipart
grad-cam
matplotlib
sentencepiece
protobuf
openai
python-dotenv
